# general
cmake-build-debug
node_modules
one
out/*
*.o
.idea

# build
build

# lexer
src/lexer/lexer
src/lexer/log

# parser
src/parser/parser
src/parser/log

# ast
src/ast/ast
src/ast/log

# test
test/lexer
test/parser
test/argument
test/ast
