# general
cmake-build-debug
node_modules
one
*.o
out/*
.idea

# build
build

# lexer
src/stages/lexer/lexer
src/stages/lexer/log

# parser
tmp/c-new3/parser/parser
tmp/c-new3/parser/log

# ast
tmp/c-new3/ast/ast
tmp/c-new3/ast/log

# test
test/lexer
test/parser
test/argument
test/ast

src/one
src/stages/lexer/one_lexer
src/stages/parser/one_parser

.vscode
src/*.exe
src/stages/*/*.exe
