# general
cmake-build-debug
node_modules
one
*.o
out/*
.idea
.vscode

# build
build
src/*.exe
src/*/*.exe
src/*/*/*.exe

# lexer
src/lexer/lexer
src/lexer/log

# parser
src/parser/parser
src/parser/log

# ast
src/ast/ast
src/ast/log

# test
test/lexer
test/parser
test/argument
test/ast
