name: Dockerize One Programming language

on:
  push:
    branches: [main]
    paths:
      - '.dockerignore'
      - '.github/workflows/docker-image.yml'
      - 'Dockerfile'
      - 'docker-compose.yml'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build-deploy:
    if: github.repository == 'One-Language/One'
    name: Build and Publish Docker image
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_PASSWORD}}
      - name: Build and Push to DockerHub
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: onelangorg/one:latest
          cache-from: type=registry,ref=onelangorg/one:latest
          cache-to: type=inline
